<!-- Logout Modal-->
<div class="modal fade" id="<%= question.id ?  "updateQuestion#{question.id}" : "questionForm" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <%= form_with(model: question, html: { class: "form-horizontal" }) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= t('form_titles.create', object_name: t('questions.dashboard_name')) %></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row d-flex align-items-center">
            <%= form.label t('questions.form_inputs.content'), class: "control-label" %>
          </div>
          <div class="row d-flex align-items-center mb-3">
            <%= form.text_field :content, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal"><%= I18n.t('form_buttons.cancel') %></button>
          <%= form.submit I18n.t('form_buttons.save'), class: "btn btn-primary waves-effect waves-light ml-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

