<!-- DataTales Example -->
<div class="row">
  <div class="col-sm-4">
    <form action="questions" class="" method="get">
      <div class="input-group">
        <input name="where[content_cont]" type="text" class="form-control bg-light border-0 small mr-4" placeholder="<%= t('form_texts.content') %>" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#questionForm">
      <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400"></i>
      <%= t('form_buttons.add') %>
    </button>
  </div>
</div>
<%= render 'form', question: Question.new %>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th scope="col-md-1"><%= t('questions.table.id') %></th>
      <th scope="col-md-6"><%= t('questions.table.content') %></th>
      <th scope="col-md-3"><%= t('questions.table.answers') %></th>
      <th scope="col-md-2" class="text-center"><%= t('questions.table.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="text-center leaveRequestTr">
        <td><%= (question.id > 9 ? "0000" : "00000") + question.id.to_s %></td>
        <td><%= link_to question.content, question_path(id: question.id) %></td>
        <td class="">
          <%= @answers_count.find {|answer| answer.id = question.id}&.answer_count %>
        </td>
        <td>
          <div class="text-center">
            <a href="questions/<%= question.id %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="<%= t('form_texts.confirm_remove', object_name: t("questions.dashboard_name").downcase) %>" data-method="delete">
              <i class="fa-solid fa-trash text-danger"></i>
            </a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @questions %>
