<!-- DataTales Example -->
<div class="row">
  <div class="col-sm-6">
    <form action="answers" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-50" method="get">
      <div class="input-group">
        <input name="where[content_cont]" type="text" class="form-control bg-light border-0 small mr-4" placeholder="Content" aria-label="Search" aria-describedby="basic-addon2"
        value="<%= params[:where][:content_cont] if params[:where].present? %>">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary ml-md-3 my-2 my-md-0" href="#" data-toggle="modal" data-target="#questionForm" style="width: 100px;">
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Add
    </button>
  </div>
  <%= render 'form', question: Question.new %>
</div>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th scope="col"><input class="checkAllLeave" type="checkbox" id="checkAllLeave" onchange=""></th>
      <th scope="col">Id</th>
      <th scope="col">Content</th>
      <th scope="col">Answers</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="text-center leaveRequestTr">
        <td class=""><input class="checkMultiLeave" type="checkbox" value="" onchange=""></td>
        <td><%= (question.id > 9 ? "0000" : "00000") + question.id.to_s %></td>
        <td><%= question.content %></td>
        <td class="">
          <%= question.answers.count %>
        </td>
        <td>
          <div class="text-center">
            <a class="actionLink mr-3" href="questions/<%= question.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
            <a href="questions/<%= question.id %>" class="actionLink" title="Remove" data-confirm="Are you want to delete this user?" data-method="delete">
              <i class="fa-solid fa-trash text-danger"></i>
            </a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @questions %>
