<!-- Button trigger modal -->
<button id="buttonShowModal" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#addRoomPicker">
</button>

<!-- Modal -->
<div class="modal fade" id="addRoomPicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row d-flex align-items-center mb-4">
					<label class="control-label col-sm-2" for="room_picker_name">Name:</label>
					<div class="col-sm-10 align-items-center">
						<input class="form-control" type="text" name="room_picker[name]" id="room_picker_name">
					</div>
      	</div>
				<div class="row d-flex align-items-center mb-4">
					<label class="control-label col-sm-2" for="room_picker_room_id">Room:</label>
					<div class="col-sm-10 align-items-center">
						<select class="form-control" type="text" name="room_picker[name]" id="room_picker_room_id">
							<% room_available.each do |room| %>
								<option value="<%= room.first %>"><%= room.last.titleize %></option>
							<% end %>
						</select>
					</div>
      	</div>
				<div class="row d-flex align-items-center mb-4">
					<label class="control-label col-sm-2" for="room_picker_repeat_type">Repeat:</label>
					<div class="col-sm-10 align-items-center">
						<select class="form-control" type="text" name="room_picker[repeat_type]" id="room_picker_repeat_type">
							<% RoomPicker.repeat_types.each do |type, value| %>
								<option value="<%= type %>"><%= type.titleize %></option>
							<% end %>
						</select>
					</div>
      	</div>
				<div class="row d-flex align-items-center mb-4">
					<label class="control-label col-sm-2" for="room_picker_start_at">Start:</label>
					<div class="col-sm-10 align-items-center">
						<input class="form-control" type="datetime-local" name="room_picker[start_at]" id="room_picker_start_at">
					</div>
      	</div>
				<div class="row d-flex align-items-center mb-4">
					<label class="control-label col-sm-2" for="room_picker_end_at">End:</label>
					<div class="col-sm-10 align-items-center">
						<input class="form-control" type="datetime-local" name="room_picker[end_at]" id="room_picker_end_at">
					</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="removeRoomPicker" type="button" class="btn btn-danger d-none" data-dismiss="modal">Remove</button>
        <button id="saveRoomPicker" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id='calendar' style=""></div>
<script src="/javascripts/fullcalendar-6.1.8/dist/index.global.min.js" rel="preload"></script>
<script>
	$( document ).ready(function() {
		function datetimeLocal(datetime) {
			const dt = new Date(datetime);
			dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset());
			return dt.toISOString().slice(0, 16);
		}

		function removeListener(id){
			var old_element = document.getElementById(id);
			var new_element = old_element.cloneNode(true);
			old_element.parentNode.replaceChild(new_element, old_element);
			return new_element;
		}

		function getFormData() {
			return {
								description: document.getElementById('room_picker_name').value,
								repeat_type: document.getElementById('room_picker_repeat_type').value,
								room_id: document.getElementById('room_picker_room_id').value,
								start_at: document.getElementById('room_picker_start_at').value,
								end_at: document.getElementById('room_picker_end_at').value
							}
		}

		const buttonShowModal = document.getElementById('buttonShowModal');
		var removeRoomPicker = document.getElementById('removeRoomPicker');
		const roomPickerStartAt = document.getElementById('room_picker_start_at');
		const roomPickerEndAt = document.getElementById('room_picker_end_at');

		var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
			initialView: 'timeGridWeek',
			allDaySlot: false,
			slotMinTime: '06:00',
			slotMaxTime: '22:00',
			height: 910,
			selectable: true,

			eventMaxStack: 2,
 			events: function(fetchInfo, successCallback, failureCallback) {
        $.ajax({
            url: '<%=ENV.fetch("BE_HOST") %>/api/v1/room_pickers',
            dataType: 'json',
            data: {
							where: {
								start_at_gteq: fetchInfo.startStr,
								end_at_lteq: fetchInfo.endStr
							}
            },
            success: function(doc) {
							successCallback(doc.data);
            }
        });
    	},
			eventClick: function(info) {
				let roomPickerId = info.event._def.publicId

				removeRoomPicker = removeListener("saveRoomPicker");
				removeRoomPicker.classList.remove('d-none');
				console.log(removeRoomPicker);
				console.log(roomPickerId);
				let submitRoomPicker = removeListener("saveRoomPicker");
				removeRoomPicker.addEventListener("click", function(){
					$.ajax({
            url: '<%= ENV.fetch("BE_HOST") %>/api/v1/room_pickers',
						method: 'DELETE',
            dataType: 'json',
            data: {
							id: roomPickerId,
							user_id: <%= current_user.id %>
            },
            success: function(data) {
							calendar.refetchEvents();
							alert('Delete Event Success')
            }
        	});
				});

				submitRoomPicker.addEventListener("click", function(){
					$.ajax({
            url: '<%=ENV.fetch("BE_HOST") %>/api/v1/room_pickers',
						method: "POST",
            dataType: 'json',
            data: {
							room_picker: getFormData(),
							user_id: <%= current_user.id %>
            },
            success: function(data) {
							calendar.refetchEvents();
							alert('Create Event Success')
            }
        	});
				});

				buttonShowModal.click();

				calendar.unselect()
			},
			eventMouseEnter: function(info){
				info.el.style.cursor = 'pointer';
				info.el.style.borderColor = 'white';
				info.el.style.borderWidth = '3px';
			},
			eventMouseLeave: function(info){
				info.el.style.cursor = '';
				info.el.style.borderColor = '';
				info.el.style.borderWidth = '0px';
			},
			select: function(info) {
				roomPickerStartAt.value = datetimeLocal(info.startStr);
				roomPickerEndAt.value = datetimeLocal(info.endStr);
				removeRoomPicker.classList.add('d-none');
				buttonShowModal.click();

				let submitRoomPicker = removeListener("saveRoomPicker");
				submitRoomPicker.addEventListener("click", function(){
					$.ajax({
            url: '<%=ENV.fetch("BE_HOST") %>/api/v1/room_pickers',
						method: "POST",
            dataType: 'json',
            data: {
							room_picker: getFormData(),
							user_id: <%= current_user.id %>
            },
            success: function(data) {
							calendar.refetchEvents();
							alert('Create Event Success')
            }
        	});
				});

				calendar.unselect()
			}
		});

		calendar.render();
	});


</script>
