<!-- DataTales Example -->
<form action="holidays" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-75" method="get">
  <div class="input-group">
    <input name="where[full_name_cont]" type="text" class="form-control bg-light border-0 small mr-4" placeholder="Name" aria-label="Search" aria-describedby="basic-addon2">
    <%= select_tag "where[status_eq]",  options_for_select(status_options, params[:where].present?  ? params[:where]["status_eq"] : ""), class: "form-control bg-light border-0 small mr-4", onchange: "this.form.submit();" %>
    <%= select_tag "where[department_id_eq]",  options_for_select(department_options, params[:where].present?  ? params[:where]["department_id_eq"] : ""), class: "form-control bg-light border-0 small mr-4", onchange: "this.form.submit();" %>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

<button class="btn btn-primary ml-md-3 my-2 my-md-0" href="#" data-toggle="modal" data-target="#holidayForm" style="width: 100px;">
  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
  Add
</button>
<%= render 'form', holiday: Holiday.new %>
<div class="table-responsive mt-3">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Status</th>
              <th>Date</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <% @holidays.each.with_index(1) do |holiday, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= holiday.name %></td>
            <td><div class="w-75 text-center text-light rounded bg-<%= holiday.status.eql?("active") ? "success" : "danger" %>"><%= holiday.status %></div></td>
            <td><%= strftime_custom(holiday.start_date) + " - " + strftime_custom(holiday.end_date) %></td>
            <td><%= holiday.description %></td>
            <td>
              <div class="text-center">
                <a class="actionLink mr-3" title="Edit" data-toggle="modal" data-target="#updateHoliday<%= holiday.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
                <a href="holidays/<%= holiday.id %>" class="actionLink" title="Remove" data-confirm="Are you want to delete this Holiday?" data-method="delete">
                  <i class="fa-solid fa-trash text-danger"></i>
                </a>
                <%= render 'form', holiday: holiday %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <%= will_paginate @holidays %>
</div>