<!-- Logout Modal-->
<div class="modal fade" id="<%= room.id ?  "updateRoom#{room.id}" : "roomForm" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
          <%= form_with(model: [:admin, room], html: { class: "form-horizontal" }) do |form| %>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= room.id ? "Update Room" : "Add Room" %></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row d-flex align-items-center">
                <%= form.label "Name:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.text_field :name, class: "form-control" %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "Description:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.text_field :description, class: "form-control" %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "Capacity:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.number_field :capacity, class: "form-control" %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "Status:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.select :status, status_room_options, {}, { class: "form-control" } %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "Start:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.time_field :start_at, class: "form-control" %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "End:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.time_field :end_at, class: "form-control" %>
              </div>
              <div class="row d-flex align-items-center">
                <%= form.label "Color:", class: "control-label" %>
              </div>
              <div class="row d-flex align-items-center mb-3">
                <%= form.color_field :color, class: "form-control" %>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <%= form.submit "Save", class: "btn btn-primary waves-effect waves-light ml-4" %>
            </div>
          <% end %>
        </div>
    </div>
</div>