<tr class="text-center">
  <td><%= room.name %></td>
  <td><%= room.description %></td>
  <td><%= room.capacity  %></td>
  <td><%= room.start_at.strftime("%I:%M %p") %></td>
  <td><%= room.end_at.strftime("%I:%M %p") %></td>
  <td><span style="color: <%= room.color %>"><%= room.color %></span></td>
  <td><%= room.status.titleize %></td>
  <td>
      <a class="actionLink mr-3" title="<%= t('form_texts.edit') %>" href="/admin/rooms/<%= room.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
      <a href="/admin/rooms/<%= room.id %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="<%= t('form_texts.confirm_remove', object_name: t("rooms.dashboard_name").downcase) %>" data-method="delete">
        <i class="fa-solid fa-trash text-danger"></i>
      </a>
  </td>
</tr>