<div class="row">
  <div class="col-sm-4">
    <form action="rooms" class="" method="get">
      <div class="input-group">
        <input name="where[name_cont]" type="text" class="form-control bg-light border-0 small mr-2" placeholder="<%= t('form_texts.name') %>" aria-label="Search" aria-describedby="basic-addon2"
        value="<%= params[:where][:name_cont] if params[:where].present? %>">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
      <a class="btn btn-primary" href="/admin/rooms/new">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        <%= t('form_buttons.add') %>
      </a>
  </div>
</div>

<table class="table table-hover mt-4">
  <thead class="text-center">
      <tr>
          <th><%= t('rooms.table.name')%></th>
          <th><%= t('rooms.table.description')%></th>
          <th><%= t('rooms.table.capacity')%></th>
          <th><%= t('rooms.table.start_at')%></th>
          <th><%= t('rooms.table.end_at')%></th>
          <th><%= t('rooms.table.color')%></th>
          <th><%= t('rooms.table.status')%></th>
          <th><%= t('rooms.table.action')%></th>
      </tr>
  </thead>
  <tbody>
    <%= render @rooms %>
    <%= will_paginate @rooms %>
    <%= render 'partials/blank_table', object: @rooms %>
  </tbody>
</table>
