<div class="row">
  <div class="col-sm-4">
    <form action="rooms" class="" method="get">
      <div class="input-group">
        <input name="where[name_cont]" type="text" class="form-control bg-light border-0 small mr-4" placeholder="Content" aria-label="Search" aria-describedby="basic-addon2"
        value="<%= params[:where][:name_cont] if params[:where].present? %>">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
      <button class="btn btn-primary ml-md-3 my-2 my-md-0" href="#" data-toggle="modal" data-target="#roomForm" style="width: 100px;">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Add
      </button>
  </div>
</div>
<%= render 'form', room: Room.new %>

<table class="table table-hover mt-4">
  <thead class="text-center">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th >Capacity</th>
          <th >Start At</th>
          <th >End At</th>
          <th >Color</th>
          <th >Status</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
    <%= render @rooms %>
    <%= will_paginate @rooms %>
    <%= render 'partials/blank_table', object: @rooms %>
  </tbody>
</table>
