<div class="row text-center">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= form_with(model: [:admin, holiday], html: { class: "form-horizontal" }) do |form| %>
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= I18n.t(holiday.new_record? ? 'holidays.add_title' : 'holidays.update_title') %></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row d-flex align-items-center mb-4">
          <%= form.label "#{I18n.t 'holidays.form_inputs.name'}", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <%= form.label "#{I18n.t 'holidays.form_inputs.description'}", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= form.text_field :description, class: "form-control" %>
          </div>
        </div>

        <div class="row d-flex align-items-center mb-4">
          <%= form.label "#{I18n.t 'holidays.form_inputs.start_at'}", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= form.time_field :start_at, class: "form-control" %>
          </div>

          <%= form.label "#{I18n.t 'holidays.form_inputs.end_at'}", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= form.time_field :end_at, class: "form-control" %>
          </div>
        </div>

        <div class="row d-flex align-items-center mb-4">
          <%= form.label "#{I18n.t 'holidays.form_inputs.status'}", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= form.select :status, status_holiday_options, {}, { class: "form-control" } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <%= link_to I18n.t('form_buttons.cancel'), admin_holidays_path, class: 'btn btn-secondary' %>
          <%= form.submit I18n.t('form_buttons.save'), class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
    <% end %>
  </div>
</div>
