<tr>
  <td>#</td>
  <td><%= holiday.name %></td>
  <td><div class="text-center text-light rounded bg-<%= holiday.status.eql?("active") ? "success" : "danger" %>"><%= holiday.status %></div></td>
  <td><%= strftime_custom(holiday.start_date) + " - " + strftime_custom(holiday.end_date) %></td>
  <td><%= holiday.description %></td>
  <td>
    <a class="actionLink mr-3" title="<%= t('form_texts.edit') %>" href="/admin/holidays/<%= holiday.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
    <a href="holidays/<%= holiday.id %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="Are you want to delete this Holiday?" data-method="delete">
      <i class="fa-solid fa-trash text-danger"></i>
    </a>
  </td>
</tr>