<%= form_with(model: leave_request, html: { class: "form-horizontal" }) do |form| %>
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <i><b>Leave Request</b></i>
      <hr class="hr" />
      <div class="row d-flex align-items-center mb-4">
        <%= form.label "User:", class: "control-label col-sm-1" %>
        <div class="col-sm-5 align-items-center">
          <%= form.text_field :name, value: current_user.full_name, class: "form-control" , disabled: true %>
        </div>
        <%= form.label "Deparment:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.text_field :deparment, value: current_user.department.name, class: "form-control" , disabled: true %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "leave_type:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :leave_type, leave_type_options, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "reason:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :reason, reason_options, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "start_time:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.datetime_field :start_date, class: "form-control", onchange: "setTotalHour()"%>
        </div>

        <%= form.label "end_time:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.datetime_field :end_date, class: "form-control", onchange: "setTotalHour()" %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "total_hours:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.text_field :total_hours, class: "form-control", disabled: true %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "approve_by:", class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :approve_by, leader_options, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label "envidence:", class: "control-label col-sm-1" %>
        <div class="col-sm-1">
          <%= form.file_field :envidence, accept:'image/*', onchange: 'setupImage(this.files)', class: "form-control d-none" %>
          <input type="button" class="form-input" value="Browse..." onclick="document.getElementById('leave_request_envidence').click();" />
        </div>
        <div class="col-sm-4" id="imageDiv">
          <%= image_tag leave_request.envidence? ? leave_request.envidence_url : "", id: 'formImage', style: 'width: 420px;'%>
        </div>
      </div>


      <div class="row d-flex align-items-center mb-4">
        <%= form.label "Meassage:", class: "control-label col-sm-1" %>
        <div class="col-sm-11 align-items-center">
          <%= form.text_area :message, class: "form-control" %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">

      </div>
      <div class="row">
        <%= form.submit "Save", class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
    </div>
  </div>
<% end %>

<script src="/javascripts/image_select.js" rel="preload"></script>
<script src="/javascripts/total_time_select.js" rel="preload"></script>