<%= form_with(url: "/leave_requests/#{leave_request.id}", model: leave_request, html: { class: "form-horizontal"}) do |form| %>
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <i><b><%= t('leave_requests.dashboard_name') %></b></i>
      <hr class="hr" />
      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.user'), class: "control-label col-sm-1" %>
        <div class="col-sm-5 align-items-center">
          <%= form.text_field :name, value: current_user.full_name, class: "form-control" , disabled: true %>
        </div>
        <%= form.label I18n.t('leave_requests.form_inputs.department'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.text_field :deparment, value: current_user.department.name, class: "form-control" , disabled: true %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.leave_type'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :leave_type, leave_type_options, {}, { class: "form-control", onchange: "toggleLeaveTaken(this)" } %>
        </div>
      
        <%= form.label I18n.t('leave_requests.form_inputs.leave_taken_type'), class: "control-label col-sm-1 leaveTakenType d-none" %>
        <div class="col-sm-5 leaveTakenType d-none">
          <%= form.select :leave_taken_type, leave_taken_type_options(current_user), {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.reason'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :reason, reason_options, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.start_time'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.datetime_field :start_date, class: "form-control", onchange: ""%>
        </div>

        <%= form.label I18n.t('leave_requests.form_inputs.end_time'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.datetime_field :end_date, class: "form-control", onchange: "" %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.total_time'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.text_field :total_hours, class: "form-control", disabled: true %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.approve_by'), class: "control-label col-sm-1" %>
        <div class="col-sm-5">
          <%= form.select :approve_by, leader_options, {}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.envidence'), class: "control-label col-sm-1" %>
        <div class="col-sm-1">
          <%= form.file_field :envidence, accept:'image/*', onchange: 'setupImage(this.files)', class: "form-control d-none" %>
          <input type="button" class="form-input" value="Browse..." onclick="document.getElementById('leave_request_envidence').click();" />
        </div>
        <div class="col-sm-4" id="imageDiv">
          <%= image_tag leave_request.envidence? ? leave_request.envidence_url : "", id: 'formImage', style: 'width: 420px;'%>
        </div>
      </div>


      <div class="row d-flex align-items-center mb-4">
        <%= form.label I18n.t('leave_requests.form_inputs.message'), class: "control-label col-sm-1" %>
        <div class="col-sm-11 align-items-center">
          <%= form.text_area :message, class: "form-control" %>
        </div>
      </div>

      <div class="row d-flex align-items-center mb-4">

      </div>
      <div class="row">
        <%= link_to I18n.t('form_buttons.cancel'), leave_requests_path, class: 'btn btn-secondary' %>
        <%= form.submit I18n.t('form_buttons.save'), class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
    </div>
  </div>
<% end %>

<script src="/javascripts/image_select.js" rel="preload"></script>
<script src="/javascripts/total_time_select.js" rel="preload"></script>
<script>
  function toggleLeaveTaken(element){
    var selectedValue = element.value;
    leaveTakenElements = document.getElementsByClassName("leaveTakenType");
    showLeaveTaken = (selectedValue == 'late' || selectedValue == 'leave');
    for(var i = 0; i < leaveTakenElements.length; i++){
      if(showLeaveTaken) {
        leaveTakenElements[i].classList.remove('d-none');
      } else {
        leaveTakenElements[i].classList.add('d-none');
      }
    }
  }
</script>