<div class="row mb-4">
  <div class="col-sm-4">
    <form action="leave_requests" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-75" method="get">
      <div class="input-group">
        <datalist id="brow">
          <% current_user.employees.each do |user|%>
            <option value="<%= "#{full_name(user)}" %>" data-value="<%= user.id %>">
          <% end %>
        </datalist>
        <%= select_tag "where[leave_type_eq]",  options_for_select(leave_type_options, params[:where].present?  ? params[:where]["leave_type_eq"] : ""), class: "form-control bg-light border-0 small mr-4", onchange: "this.form.submit();" %>
        <input class="form-control" type="month" id="start" name="where[year_month]" min="2018-03" value="<%= current_select_month_ransack %>" onchange="this.form.submit();">
      </div>
    </form>
  </div>
</div>
<%= render 'form', leave_request: @leave_request %>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th scope="col"><input class="checkAllLeave" type="checkbox" id="checkAllLeave" onchange=""></th>
      <th scope="col">User</th>
      <th scope="col">Department</th>
      <th scope="col">Type</th>
      <th scope="col">Time</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_requests.each do |leave_request| %>
      <tr class="text-center leaveRequestTr">
        <td class=""><input class="checkMultiLeave" type="checkbox" value="<%= leave_request.id %>" onchange=""></td>
        <td><%= leave_request.user.full_name %></td>
        <td><%= role_department(leave_request.user).titleize %></td>
        <td><%= leave_request.leave_type.titleize %></td>
        <td>@mdo</td>
        <td>
          <div class="text-center">
            <a class="actionLink mr-3" title="Edit" data-toggle="modal" data-target="#updateLeaveRequest<%= leave_request.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
            <a href="leave_request/<%= leave_request.id %>" class="actionLink" title="Remove" data-confirm="Are you want to delete this user?" data-method="delete">
              <i class="fa-solid fa-trash text-danger"></i>
            </a>
          </div>
        </td>
      </tr>
      <%= render 'form', leave_request: leave_request %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @leave_requests %>