<div class="p-3 d-flex align-items-center border-bottom osahan-post-header <%= notification.is_readed ? "" : "bg-light" %>">
  <div class="dropdown-list-image mr-3">
    <%= image_tag(notification.sender.avatar_url || "default_avatar.png", class: "img-profile rounded-circle") %>
  </div>
  <div class="font-weight-bold mr-3">
      <div class="mb-2">
        <%= notification.sender.full_name %>
        <span class="font-weight-normal">
          <% if notification.action_type_created? %>
            <%= t('notifications.leave_requests.create_list_title', leave_type: notification.resource.human_enum_name(:leave_type), 
                                                                    reason_name: notification.resource.human_enum_name(:reason)) %>
          <% else %>
            <%= t('notifications.leave_requests.update_list_title', leave_type: notification.resource.human_enum_name(:leave_type).downcase, 
                                                                    time: notification.resource.leave_request_time,
                                                                    action_type: notification.resource.human_enum_name(:status).downcase,
                                                                    leader_name: notification.sender.full_name) %>
          <% end %>
        </span>
      </div>
      <%= link_to I18n.t('notifications.leave_requests.show_detail'), leader_leave_request_path(id: notification.resource.id, notification_id: notification.id), class: "btn btn-outline-success btn-sm"  %>
  </div>
  <span class="ml-auto mb-auto">
      <div class="btn-group">
          <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
          </button>
      </div>
      <br />
      <div class="text-right text-muted pt-1"><%= sended_time(notification.created_at) %></div>
  </span>
</div>