<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Department</th>
      <th scope="col">Type</th>
      <th scope="col">Time</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_requests.each do |leave_request| %>
    <tr>
      <th scope="row">1</th>
      <td><%= leave_request.user.full_name %></td>
      <td><%= role_department(leave_request.user).titleize %></td>
      <td><%= leave_request.leave_type.titleize %></td>
      <td>@mdo</td>
      <td>
        <div class="text-center">
        <%= render "button", leave_request: leave_request, status: "approve" %>
        <%= render "button", leave_request: leave_request, status: "reject" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>