<div class="row mb-4">
  <div class="col-sm-6">
    <form action="leave_requests" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-75" method="get">
      <div class="input-group">
        <input name ="where[user_id_eq]" autocomplete="off" list="brow" class="form-control mr-4" value="<%= params[:where] ? params[:where]["user_id_eq"] : "" %>" onchange="this.form.submit();">
        <datalist id="brow">
          <% current_user.employees.each do |user|%>
            <option value="<%= "#{full_name(user)}" %>" data-value="<%= user.id %>">
          <% end %>
        </datalist>
        <%= select_tag "where[leave_type_eq]",  options_for_select(leave_type_options, params[:where].present?  ? params[:where]["leave_type_eq"] : ""), class: "form-control bg-light border-0 small mr-4", onchange: "this.form.submit();" %>
        <input class="form-control" type="month" id="start" name="where[year_month]" min="2018-03" value="<%= current_select_month_ransack %>" onchange="this.form.submit();">
      </div>
    </form>
  </div>
</div>
<%= render "button_multi" %>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th scope="col"><input class="checkAllLeave" type="checkbox" id="checkAllLeave" onchange="selectAll(this)"></th>
      <th scope="col">User</th>
      <th scope="col">Department</th>
      <th scope="col">Type</th>
      <th scope="col">Time</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_requests.each do |leave_request| %>
    <tr class="text-center leaveRequestTr">
      <td class=""><input class="checkMultiLeave" type="checkbox" value="<%= leave_request.id %>" onchange="selectMulti()"></td>
      <td><%= leave_request.user.full_name %></td>
      <td><%= role_department(leave_request.user).titleize %></td>
      <td><%= leave_request.leave_type.titleize %></td>
      <td><%= leave_request.start_date %></td>
      <td>
        <div>
        <%= render "button", leave_request: leave_request, status: "approve" %>
        <%= render "button", leave_request: leave_request, status: "reject" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @leave_requests %>

<script>

  function selectMulti() {
    disableCheck(checkedInput())
    countItemsSelected()
    showAllSubmit(checkedInput())
  }

  function selectAll(element){
    disableCheck(element.checked)
    let elements = document.getElementsByClassName("checkMultiLeave");
    for(let i = 0; i < elements.length; i++) {
      elements[i].checked = element.checked
    }
    countItemsSelected()
    showAllSubmit(element.checked)
  }

  function checkedInput() {
    let elements = document.getElementsByClassName("checkMultiLeave");
    for(let i = 0; i < elements.length; i++) {
      if(elements[i].checked == true) {
        return true;
      }
    }
    return false;
  }

  function countItemsSelected() {
    let elements = document.getElementsByClassName("checkMultiLeave");
    count = 0
    for(let i = 0; i < elements.length; i++) {
     if(elements[i].checked == true) { count += 1 }
    }
    document.getElementById("itemsSelected").innerHTML = `${count} items selected`
  }

  function disableCheck(disabled){
    let elements = document.getElementsByClassName("actionOneLeave");
    for(let i=0; i < elements.length; i++) {
      elements[i].disabled = disabled
    }
  }

  function showAllSubmit(showButton){
    let elements = document.getElementsByClassName("actionMultiLeave")
    for(let i=0; i < elements.length; i++) {
      if (showButton){
        $(elements[i]).removeClass('d-none');
      } else {
        $(elements[i]).addClass('d-none');
      }
    }
  }
</script>