<div class="row">
  <div class="col-2">
    <form action="time_sheets" class="form-horizontal" method="get">
      <div class="input-group">
        <%= select_month(current_select_date) %>
        <%= select_year(current_select_date, start_year: 2014 , end_year: Time.zone.now.year)  %>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <%= form_with(model: @time_sheets, html: { class: "form-horizontal mr-2" }) do |form| %>
      <%= form.hidden_field :keeping_type, value: "check_in"  %>
      <div class="row">
        <%= form.submit "CheckIn", class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form_with(model: @time_sheets, html: { class: "form-horizontal" }) do |form| %>
      <%= form.hidden_field :keeping_type, value: "check_out"  %>
      <div class="row">
        <%= form.submit "CheckOut", class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="row mt-3" style="height: 30px">
      <% Date::DAYNAMES.each do |day_name| %>
        <div class="col border text-center font-weight-bold">
          <%= day_name %>
        </div>
      <% end %>
    </div>

    <% (@result.count / 7).times do |row| %>
      <div class="row"  style="height: 120px">
        <% 7.times do |day| %>
          <div class="col border">
            <% this_day =  @result[row * 7 + day]%>
            <% if this_day.class == Hash %>
              <span class="font-weight-bold h6" ><%= this_day[:day] if this_day[:current_month] %></span>
            <% else %>
              <span class="font-weight-bold h6"><%= this_day.first[:day] %><span>
              </br>
              <% this_day.each do |check| %>
                <% if check[:type].eql?("check_in") %>
                  <span class="btn-success rounded-pill text-center h5" style="display: inline-block;font-size: 18px !important;"><%= check[:time] %></span>
                <% else %>
                  <span class="btn-danger rounded-pill text-center h5" style="display: inline-block;font-size: 18px !important;"><%= check[:time] %></span>
                <% end %>
              <% end %>
              <span class="btn-warning rounded-pill text-center h5" style="display: inline-block;font-size: 18px !important;"><%= this_day.first[:time_late] %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>