<%= form_with(model: current_user, url: "/reset_password", html: { class: "form-horizontal" }) do |form| %>
  <div class="row d-flex align-items-center mb-4">
    <%= form.label "current_password:", class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= form.password_field :current_password, class: "form-control" %>
    </div>
  </div>

  <div class="row d-flex align-items-center mb-4">
    <%= form.label "new_password:", class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= form.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="row d-flex align-items-center mb-4">
    <%= form.label "confirm_password:", class: "control-label col-sm-2" %>
    <div class="col-sm-5">
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <%= form.submit "Save", class: "btn btn-primary waves-effect waves-light ml-4" %>
  </div>
<% end %>