<div class="modal fade" id="<%= time_sheet.id ?  "updateTimeSheet#{time_sheet.id}" : "timeSheetForm" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <%= form_with(model: [:admin, time_sheet], html: { class: "form-horizontal" }) do |form| %>
        <%= form.hidden_field :admin_action, :value => true %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Time Sheet</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row d-flex align-items-center">
            <%= form.label "Date:", class: "control-label" %>
          </div>
          <div class="row d-flex align-items-center mb-3">
            <%= form.date_field :keeping_date, value: (form.object.keeping_time.present? ? form.object.keeping_time.to_date : nil ), class: "form-control" %>
          </div>

          <div class="row d-flex align-items-center">
            <%= form.label "Time:", class: "control-label" %>
          </div>
          <div class="row d-flex align-items-center mb-3">
            <%= form.time_field :keeping_time, ignore_date: true, class: "form-control" %>
          </div>

          <div class="row d-flex align-items-center">
            <%= form.label "Keeping Type:", class: "control-label" %>
          </div>
          <div class="row d-flex align-items-center mb-3">
            <%= form.select :keeping_type, check_type_options, {}, class: "form-control" %>
          </div>

          <div class="row d-flex align-items-center">
            <%= form.label "User:", class: "control-label" %>
          </div>
          <div class="row d-flex align-items-center mb-3">
            <input name ="time_sheet[user]" autocomplete="off" list="brow" class="form-control" value="<%= selected_user(form.object.user_id) %>">
            <datalist id="brow">
              <% User.includes(:department).status_active.each do |user|%>
                <option value="<%= "#{full_name(user)} - #{user.department&.name}" %>" data-value="<%= user.id %>">
              <% end %>
            </datalist>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <%= form.submit "Save", class: "btn btn-primary waves-effect waves-light ml-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>