<div class="row">
  <div class="col-6">
    <form action="/admin/users/<%= @user.id %>/time_sheets" class="form-horizontal" method="get">
      <div class="input-group d-flex align-items-center">
        <input class="form-control mr-2 ml-2" type="month" id="start" name="where[year_month]" min="2018-03" value="<%= current_select_month_ransack %>" onchange="this.form.submit();">
        <input name="user_id" type="text" class="form-control bg-light border-0 small mr-4" placeholder="<%= @user.full_name %>" aria-label="Search" aria-describedby="basic-addon2"
        value="<%= @user.id %>" disable="true">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
    <a class="btn btn-primary ml-md-3 my-2 my-md-0" href="<%= "/admin/users/#{@user.id}/time_sheets/new?year_month=#{params[:where][:year_month]}" %>">
      <i class="fa-solid fa-plus mr-2 text-gray-400"></i>
      <%= t('form_texts.add') %>
    </a>
  </div>
</div>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th scope=""><%= t('time_sheets.table.id') %></th>
      <th scope=""><%= t('time_sheets.table.user') %></th>
      <th scope=""><%= t('time_sheets.table.date') %></th>
      <th scope=""><%= t('time_sheets.table.start_at') %></th>
      <th scope=""><%= t('time_sheets.table.end_at') %></th>
      <th scope=""><%= t('time_sheets.table.present_time') %></th>
      <th scope=""><%= t('time_sheets.table.late_time') %></th>
      <th scope="" class="text-center"><%= t('time_sheets.table.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @time_sheets.each do |time_sheet| %>
      <tr class="text-center leaveRequestTr">
        <td><%= @user.user_code %></td>
        <td><%= @user.full_name  %></td>
        <td><%= time_sheet.start_at.strftime('%m/%d/%Y')  %></td>
        <td><%= time_sheet.start_at&.strftime('%I:%M %p')  %></td>
        <td><%= time_sheet.end_at&.strftime('%I:%M %p')  %></td>
        <td><%= TimeSheet.strftime_format(time_sheet.time_present(@options).first)  %></td>
        <td><%= TimeSheet.strftime_format(time_sheet.time_present(@options).last)  %></td>
        <td>
          <a class="actionLink mr-3" title="<%= t('form_texts.edit') %>" href="<%= "/admin/users/#{@user.id}/time_sheets/#{time_sheet.id}" %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
          <a href="<%= "/admin/users/#{@user.id}/time_sheets/#{time_sheet.id}" %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="<%= t('form_texts.confirm_remove', object_name: t("time_sheets.dashboard_name").downcase) %>" data-method="delete">
            <i class="fa-solid fa-trash text-danger"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>