<div class="row">
  <div class="col-3">
    <form action="time_sheets" class="form-horizontal" method="get">
      <div class="input-group">
        <input class="form-control mr-2" type="month" id="start" name="where[year_month]" min="2018-03" value="<%= current_select_month_ransack %>" onchange="this.form.submit();">
        <input name ="where[user_id_eq]" list="brow" autocomplete="off" class="form-control" value="<%= params[:where] ? params[:where]["user_id_eq"] : "" %>" onchange="this.form.submit();">
        <datalist id="brow">
          <% User.includes(:department).each do |user|%>
            <option value="<%= "#{full_name(user)} - #{user.department&.name}" %>" data-value="<%= user.id %>">
          <% end %>
        </datalist>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary ml-md-3 my-2 my-md-0" href="#" data-toggle="modal" data-target="#timeSheetForm" style="width: 100px;">
      <i class="fa-solid fa-plus mr-2 text-gray-400"></i>
      Add
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary my-2 my-md-0" data-toggle="modal" data-target="#importTimeSheet" style="width: 160px;">
      <i class="fas fa-file-import mr-2 text-gray-400"></i>
      Import CSV
    </button>
  </div>
  <%= render 'form', time_sheet: TimeSheet.new %>
  <%= render 'import_form' %>
</div>
<div class="table-responsive mt-3">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>User</th>
              <th>Department</th>
              <th>Role</th>
              <th>Date</th>
              <th>Keeping Type</th>
              <th>Keeping Time</th>
              <th>Time Late</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <% @time_sheets.each.with_index(1) do |time_sheet, index| %>
          <tr>
            <td><%= full_name(time_sheet.user) %></td>
            <td><%= time_sheet.user.department.name&.humanize %></td>
            <td><%= time_sheet.user.user_department.role&.humanize  %></td>
            <td><%= time_sheet.keeping_time&.strftime("%F") %></td>
            <td><%= time_sheet&.keeping_type&.humanize %></td>
            <td><%= time_sheet.keeping_time&.strftime("%H:%M") %></td>
            <td><%= time_late_strftime(time_sheet.time_late) %></td>
            <td>
              <div class="text-center">
                <a class="actionLink mr-3" title="Edit" data-toggle="modal" data-target="#updateTimeSheet<%= time_sheet.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
                <a href="time_sheets/<%= time_sheet.id %>" class="actionLink" title="Remove" data-confirm="Are you want to delete this time sheet?" data-method="delete">
                  <i class="fa-solid fa-trash text-danger"></i>
                </a>
              </div>
            </td>
          </tr>
          <%= render 'form', time_sheet: time_sheet %>
        <% end %>
      </tbody>
  </table>
  <%= will_paginate @time_sheets %>
</div>
