<tr>
  <td><%= contract.user.full_name %></td>
  <td><%= contract.human_enum_name(:contract_type) %></td>
  <td><div class="text-center text-light rounded bg-<%= contract.status_active? ? "success" : "danger" %>"><%= contract.status %></div></td>
  <td><%= strftime_custom(contract.start_date) + " - " + strftime_custom(contract.end_date) %></td>
  <td><%= salary_decorator(contract.base_salary) %></td>
  <td><%= contract.description %></td>
  <td>
    <a class="actionLink mr-3" title="<%= t('form_texts.edit') %>" href=""><i class="fa-regular fa-pen-to-square text-success"></i></a>
    <a href="contracts/<%= contract.id %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="<%= t('form_texts.confirm_remove', object_name: t("contracts.dashboard_name").downcase) %>" data-method="delete">
      <i class="fa-solid fa-trash text-danger"></i>
    </a>
  </td>
</tr>