<tr>
  <td>#</td>
  <td><%= contract.contract_type.humanize %></td>
  <td><div class="text-center text-light rounded bg-<%= contract.status_active? ? "success" : "danger" %>"><%= contract.status %></div></td>
  <td><%= strftime_custom(contract.start_date) + " - " + strftime_custom(contract.end_date) %></td>
  <td><%= salary_decorator(contract.base_salary) %></td>
  <td>
    <a class="actionLink mr-3" title="Edit" data-toggle="modal" data-target="#updateContract<%= contract.id %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
    <a href="contracts/<%= contract.id %>" class="actionLink" title="Remove" data-confirm="Are you want to delete this Holiday?" data-method="delete">
      <i class="fa-solid fa-trash text-danger"></i>
    </a>
    <%= render 'form', contract: contract %>
  </td>
</tr>