<tr class="text-center">
  <td><%= (user.id > 9 ? "0000" : "00000") + user.id.to_s %></td>
  <td><%= full_name(user) %></td>
  <td><div class="w-75 text-center text-light rounded bg-<%= user.status.eql?("active") ? "success" : "danger" %>"><%= user.status %></div></td>
  <td><%= user.user_department&.role %></td>
  <td><%= user.department&.name %></td>
  <td><%= user.age %></td>
  <td><%= full_address(user) %></td>
  <td><%= user.created_at.strftime("%F") %></td>
  <td><%= user.user_leave_time&.paid_leave_remain || 0 %></td>
  <td><%= user.contracts.order(created_at: :desc).first&.end_date %></td>
  <td>
    <div class="text-center">
      <a href="users/<%= user.id %>" class="actionLink mr-3" title="<%= t('form_texts.edit') %>"><i class="fa-regular fa-pen-to-square text-success"></i></a>
      <a href="users/<%= user.id %>" class="actionLink" title="<%= t('form_texts.remove') %>" data-confirm="<%= t('form_texts.confirm_remove', object_name: t("users.dashboard_name").downcase) %>" data-method="delete">
        <i class="fa-solid fa-trash text-danger"></i>
      </a>
    </div>
  </td>
</tr>