<!-- DataTales Example -->
<form action="users" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search w-50" method="get">
  <div class="input-group row">
    <input name="where[full_name_cont]" type="text" value="<%= params[:where].present?  ? params[:where]["full_name_cont"] : ""   %>" class="form-control bg-light border-0 small mr-2" placeholder="Name" aria-label="Search" aria-describedby="basic-addon2">
    <%= select_tag "where[status_eq]",  options_for_select(status_options, params[:where].present?  ? params[:where]["status_eq"] : ""), class: "form-control bg-light border-0 small mr-2 col-sm-3", onchange: "this.form.submit();" %>
    <%= select_tag "where[department_id_eq]",  options_for_select(department_options, params[:where].present?  ? params[:where]["department_id_eq"] : ""), class: "form-control bg-light border-0 small mr-2", onchange: "this.form.submit();" %>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th class="thTable">Id <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Name <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Status <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Position <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Department <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Age <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Address <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Start date <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="thTable">Contract Expired <i class="fas fa-arrow-up d-none"></i><i class="fas fa-arrow-down d-none"></i></th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody id="#userList">
    <%= render @users %>
  </tbody>
    <%= render 'partials/blank_table', object: @users %>
</table>
<%= will_paginate @users %>

<script>
  // function reRenderList(objects){
  //   for(let i=0; i < objects.length; i++){

  //   }
  // }

  // const token = localStorage.getItem('token');
  // const thTables = document.getElementsByClassName('thTable');
  
  // for(let i = 0; i < thTables.length; i++) {
  //   thTables[i].addEventListener('click', function() {
  //     const arrowUp = this.getElementsByClassName('fa-arrow-up')[0]
  //     const arrowDown = this.getElementsByClassName('fa-arrow-down')[0]
  //     let orderParams;
  //     if(arrowUp.classList.contains('d-none') && arrowDown.classList.contains('d-none')) {
  //       arrowUp.classList.remove('d-none')
  //       arrowDown.classList.add('d-none')
  //     } 
  //     else if(!arrowDown.classList.contains('d-none')) {
  //       arrowDown.classList.add('d-none')
  //       arrowUp.classList.add('d-none')
  //     }
  //     else {
  //       arrowDown.classList.remove('d-none')
  //       arrowUp.classList.add('d-none')
  //     }
  //     $.ajax({
  //       url: '<%=ENV.fetch("BE_HOST") %>/admin/users',
  //       dataType: 'json',
  //       data: {
  //         order: "created_at desc"
  //       },
  //       success: function(doc) {
  //         console.log(doc);
  //       }
  //     });
  //   })
  // }
</script>