<!-- DataTales Example -->
<div class="row">
  <div class="col-sm-6">
    <form action="users" class="" method="get">
      <div class="input-group row">
        <input name="where[full_name_cont]" type="text" value="<%= params[:where].present?  ? params[:where]["full_name_cont"] : ""   %>" class="form-control bg-light border-0 small mr-2" placeholder="Name" aria-label="Search" aria-describedby="basic-addon2">
        <%= select_tag "where[status_eq]",  options_for_select(status_options, params[:where].present?  ? params[:where]["status_eq"] : ""), class: "form-control bg-light border-0 small mr-2 col-sm-3", onchange: "this.form.submit();" %>
        <%= select_tag "where[department_id_eq]",  options_for_select(department_options, params[:where].present?  ? params[:where]["department_id_eq"] : ""), class: "form-control bg-light border-0 small mr-1", onchange: "this.form.submit();" %>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary ml-md-3 my-2 my-md-0" href="/new">
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Add
    </button>
  </div>
</div>
<table class="table table-hover mt-4">
  <thead>
    <tr class="text-center">
      <th class="thTable"><%= t('users.table.id') %></th>
      <th class="thTable"><%= t('users.table.name') %></th>
      <th class="thTable"><%= t('users.table.status') %></th>
      <th class="thTable"><%= t('users.table.position') %></th>
      <th class="thTable"><%= t('users.table.department') %></th>
      <th class="thTable"><%= t('users.table.age') %></th>
      <th class="thTable"><%= t('users.table.address') %></th>
      <th class="thTable"><%= t('users.table.start_date') %></th>
      <th class="thTable"><%= t('users.table.leave_time') %></th>
      <th class="thTable"><%= t('users.table.contract_expired') %></th>
      <th class="thTable"><%= t('users.table.action') %></th>
    </tr>
  </thead>
  <tbody id="#userList">
    <%= render @users %>
  </tbody>
    <%= render 'partials/blank_table', object: @users %>
</table>
<%= will_paginate @users %>

<script>
  // function reRenderList(objects){
  //   for(let i=0; i < objects.length; i++){

  //   }
  // }

  // const token = localStorage.getItem('token');
  // const thTables = document.getElementsByClassName('thTable');
  
  // for(let i = 0; i < thTables.length; i++) {
  //   thTables[i].addEventListener('click', function() {
  //     const arrowUp = this.getElementsByClassName('fa-arrow-up')[0]
  //     const arrowDown = this.getElementsByClassName('fa-arrow-down')[0]
  //     let orderParams;
  //     if(arrowUp.classList.contains('d-none') && arrowDown.classList.contains('d-none')) {
  //       arrowUp.classList.remove('d-none')
  //       arrowDown.classList.add('d-none')
  //     } 
  //     else if(!arrowDown.classList.contains('d-none')) {
  //       arrowDown.classList.add('d-none')
  //       arrowUp.classList.add('d-none')
  //     }
  //     else {
  //       arrowDown.classList.remove('d-none')
  //       arrowUp.classList.add('d-none')
  //     }
  //     $.ajax({
  //       url: '<%=ENV.fetch("BE_HOST") %>/admin/users',
  //       dataType: 'json',
  //       data: {
  //         order: "created_at desc"
  //       },
  //       success: function(doc) {
  //         console.log(doc);
  //       }
  //     });
  //   })
  // }
</script>